
<html>
	<head>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"> </script>
		<script src = "titlebar.jsx"></script>
	</head>
	<body> 
		<header> suh doo </header>
		<%- reactOut%>
	</body>
</html>